.depenses-container {
  min-width: 400px;
  display: flex;
  background: rgba(57, 70, 82, 0.5);
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
h3 {
  font-weight: 400;
  font-size: 1.8rem;
  margin-top: 5px;
  display: flex;
  justify-content: center;
}
.depenses-table {
  z-index: 1000;
  min-width: 280px;
  margin-top: 15px;
  margin-bottom: 12px;
  font-size: 1.1rem;
  border: solid 1px white;
  border-radius: 16px;
  background-color: #394652;
}
.ligne {
  background: transparent;
  margin: auto;
  padding: 6px 25px 6px 22px;
}
.ligne:hover {
  cursor: pointer;
  background: rgb(165, 188, 220);
  color: black;
  font-size: 1.3rem;
}
span {
  text-align: right;
}
