.edition-container{

  position: absolute;
  z-index: 1000;
  width: 360px;
  top: 230px;
  left: 288px;
  background: rgba(84, 66, 92, 0.8);
  backdrop-filter: blur(3px);
  border-radius: 20px;
  box-shadow: 2px 7px 5px 4px rgb(42 16 53 / 4%);
  overflow: hidden;
}
h3{
  margin: 20px;
  font-weight: 100;
}
input{
  margin-bottom: 10px;
  color: white;
}
button{
  margin: 5px;
  font-family: inherit;
  font-size: 0.8rem;
  line-height: inherit;
  background: darkolivegreen;

}